<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Listar clases</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
         <div th:replace="~{fragments :: TheJs}"></div>
        <div class="container">
          <div class="row">
            <div class="col s12">
                <div th:replace="~{fragments :: navbar}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h1>Lista de Clases</h1>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <a th:href="@{/clase/registrar}" class="btn">Nueva Clase</a>
                <table>
                    <thead>
                     <tr>
                      <th>ID</th>
                      <th>Instructor</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Día</th>
                      <th>Hora Inicio</th>
                      <th>Hora Fin</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Acciones</th>
                     </tr>
                    </thead>
                    <tbody>
                        <tr th:each="clase : ${clases}">
                            <td th:text="${clase.id}"></td>
                            <td th:text="${clase.instructor.nombres + ' ' + clase.instructor.apellidos}"></td>
                            <td th:text="${clase.nombre}"></td>
                            <td th:text="${clase.descripcion}"></td>
                            <td th:text="${clase.dia}"></td>
                            <td th:text="${clase.horaIni}"></td>
                            <td th:text="${clase.horaFin}"></td>
                            <td th:text="${clase.fechaIni}"></td>
                            <td th:text="${clase.fechaFin}"></td>
                            <td>
                                <a th:href="@{/clase/editar/{id}(id=${clase.id})}">Editar</a>
                                <a th:href="@{/clase/eliminar/{id}(id=${clase.id})}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </body>
</html>
