<!DOCTYPE html>

<html >
    <head>
        <title>Escuela roller speed</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    </head>
    <body>
        <div th:replace="~{fragments :: TheJs}"></div>
        <div class="container">
         <div class="row">
          <div class="col s12">
           <div th:replace="~{fragments :: navbar}"></div>
          </div>
         </div>
         <div class="row">
            <div class="col s12">
                <h1>Escuela Roller Speed</h1>
                <h2>Escuela deportiva</h2>
                <p>Seleccione una opción del menú.</p>
            </div>
         </div>            
        </div>
    </body>
</html>
