<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Escuela Roller Speed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

<!-- Incluye el fragmento del Navbar -->
<div th:replace="fragments :: navbar"></div>

<!-- Contenido principal -->
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col s12">
            <h1>Escuela Roller Speed</h1>
            <h2>Escuela deportiva</h2>
            <p>Seleccione una opción del menú.</p>
        </div>
    </div>
</div>

<!-- JavaScript común -->
<div th:replace="fragments :: TheJs"></div>

</body>
</html>
