<!DOCTYPE html>
<html>
    <head>
        <title>Listar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
         <div class="row">
          <div class="col s12">
            <div th:replace="~{fragments :: navbar}"></div>
          </div>
        </div>
        <div class="row">
                <div class="col s12">
                    <h1>Lista de Personas</h1>
                </div>
        </div>  
        <div class="row">
                <div class="col s12 ">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo Ident</th>
                                <th>Num. Identificaci&oacute;n</th>
                                <th>Nombres y Apellidos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="Aspirantes : ${aspirante}">
                                <td th:text="${aspirante.Id}"></td>
                                <td th:text="${aspirante.strTipoID}"></td>
                                <td th:text="${aspirante.strNumID}"></td>
                                <td th:text="${aspirante.strNombres} ${aspirante.strApellidos}"></td>            
                                <td>
                                    <a th:href="@{/editar/{id}(id=${aspirante.id})}">Editar</a>
                                    <a th:href="@{/eliminar/{id}(id=${aspirante.id})}">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        
    
        
        </div>
    </body>
</html>
