<!DOCTYPE html>
<html>
    <head>
        <title>Listar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>
    <body>
         <div th:replace="~{fragments :: TheJs}"></div>
        <div class="container">
         <div class="row">
          <div class="col s12">
            <div th:replace="~{fragments :: navbar}"></div>
          </div>
        </div>
        <div class="row">
                <div class="col s12">
                    <h1>Lista de Aspirantes</h1>
                </div>
        </div>  
        <div class="row">
                <div class="col s12 ">
                    <h3 th:text="${Tam}"></h3>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo Ident</th>
                                <th>Num. Identificaci&oacute;n</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los campo no es como en la clase e, es como viene de la db las columnas -->
                            <tr th:each="aspirante: ${Aspirantes}">
                                <td th:text="${aspirante.Id}"></td>
                                <td th:text="${aspirante.getstrTipoID()}"></td>
                                <td th:text="${aspirante.getstrNumID()}"></td>
                                <td th:text="${aspirante.getstrNombres()} "></td>
                                <td th:text="${aspirante.getstrApellidos()} "></td> 
                                <td>
                                    <a th:href="@{/editar/{id}(id=${aspirante.Id})}" class="btn waves-effect waves-light">Editar <i class="material-icons">edit</i></a>
                                    <a th:href="@{/eliminar/{id}(id=${aspirante.Id})}" class="btn waves-effect waves-light">Eliminar <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        
    
        
        </div>
    </body>
</html>
