<!DOCTYPE html>

<html >
    <head>
        <title>Mision</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        
    </head>
    <body>
    <div class="container">
         <div th:replace="~{fragments :: TheJs}"></div>
        <div class="row">
            <div class="col s12">
                <div th:replace="~{fragments :: navbar}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="Mision">
                 <h1>Misi&oacute;n</h1>
            <p>Formar y potenciar j&oacute;venes talentos en el patinaje, brindando una educación integral que combina técnica, disciplina y valores deportivos,</p>
            <p>fomentando la constancia, el trabajo en equipo y la resiliencia, impulsando su desarrollo personal, social y competitivo,</p>
            <p>para que alcancen su máximo potencial y se conviertan en líderes dentro y fuera de la pista.</p>
        </div>
        <div class="row" id="Vision" name="Vision">
            <div class="col s12">
               <h1>Visi&oacute;n</h1>
            <p>Ser reconocidos como la escuela de patinaje líder en formaci&oacute;n de j&oacute;venes promesas,</p>
            <p>destacando por nuestra excelencia técnica, innovación en entrenamiento y compromiso con los valores deportivos,</p>
            <p>impactando positivamente en la vida de nuestros estudiantes y en la comunidad deportiva nacional e internacional.</p> 
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="ValoresCorporativos" name="ValoresCorporativos">
                <h1>Valores Corporativos</h1>
            <ul>
                <li>Disciplina: Cumplir con constancia y compromiso en cada entrenamiento.</li>
                <li>Respeto: Fomentar la empatía y consideración hacia compañeros, entrenadores y rivales.</li>
                <li>Trabajo en equipo: Colaborar y apoyarse mutuamente para alcanzar metas comunes.</li>
                <li>Resiliencia: Superar obst&aacute;culos y aprender de los desafíos.</li>
                <li>Excelencia: Buscar siempre la mejora continua en técnica y desempeño.</li>
            </ul>
            </div>
            </div> 
        </div>
     </div>
    </body>
</html>
