<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

    <!-- Navbar -->
    <div th:replace="~{fragments :: navbar}"></div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Lista de Usuarios</h4>
                <a th:href="@{/usuario/registrar}" class="btn waves-effect waves-light">Nuevo Usuario</a>
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Nombre de Usuario</th>
                            <th>Nivel de Acceso</th>
                            <th>Activo</th>
                            <th>Notas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.strNombres}"></td>
                            <td th:text="${usuario.strApellidos}"></td>
                            <td th:text="${usuario.strNomUsuario}"></td>
                            <td th:text="${usuario.strNivelAcc}"></td>
                            <td th:text="${usuario.strActivo}"></td>
                            <td th:text="${usuario.strNotas}"></td>
                            <td>
                                <a th:href="@{/usuario/editar/{id}(id=${usuario.id})}" 
                                   class="btn waves-effect waves-light">
                                   Editar <i class="material-icons right">edit</i>
                                </a>
                                <a th:href="@{/usuario/eliminar/{id}(id=${usuario.id})}" 
                                   class="btn red waves-effect waves-light">
                                   Eliminar <i class="material-icons right">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts de Materialize y fragment JS -->
    <div th:replace="~{fragments :: TheJs}"></div>

</body>
</html>
